PracticalWork_07_Student/flows.json
[
    {
        "id": "eaf2bfc7454623a0",
        "type": "tab",
        "label": "UI Gripper",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f479262664cd75e2",
        "type": "tab",
        "label": "PackML",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66b713bff26c6577",
        "type": "tab",
        "label": "Get Position",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c31763846faff4a",
        "type": "tab",
        "label": "Documentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be674fbaa829df8f",
        "type": "tab",
        "label": "Alarms",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ccb574154e3475d",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "69a1382792d493e5",
            "4a99555c5c99a906",
            "a1188273fa858afb",
            "5873013b9baa66fd",
            "8568cbc5e8e3a3e7",
            "b0f2ba42e531280b",
            "e03c864b75823938",
            "84fccf9607b693bd",
            "e4035f4d4de3c39a",
            "b09d4b9362aac004",
            "6e51b78d9c6f5a96",
            "e6079fe93ae39937",
            "e85f7c32b3e4d863"
        ],
        "x": 84,
        "y": 159,
        "w": 832,
        "h": 422
    },
    {
        "id": "7b313a45e45d8c67",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ee0148a275dedb",
            "9bd81e8275e8f9fc",
            "59670bcba7664fbf",
            "d42e8acbe3501983",
            "a12abec19b950583",
            "c49cf2bce7d87104",
            "4c3d0833f9aa8ad5"
        ],
        "x": 34,
        "y": 679,
        "w": 982,
        "h": 222
    },
    {
        "id": "da63248a1cc4b4af",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5af87b665ab849ef",
            "c88f46c050aa51a3",
            "c128f90be143a216",
            "ac49f0b9e2200d23",
            "fab458635840f194",
            "b4acbb4fa910b71d",
            "399266970ed3c8d1",
            "b21a4f9c5ea48486",
            "3721ba1125f3e447"
        ],
        "x": 94,
        "y": 619,
        "w": 858,
        "h": 522
    },
    {
        "id": "9a1553f8c3041295",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fcbaa2bbfa97fe76",
            "70e837f7c57ab252",
            "fb3ab66a497550f6"
        ],
        "x": 34,
        "y": 919,
        "w": 762,
        "h": 142
    },
    {
        "id": "109dfdf213606c81",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e4a4e186145c35ce",
            "94fe66ce01a44d97",
            "ded8a5dc4b3027b0",
            "b848aa9c4c8bb73e",
            "c2c3ec1d528d773f",
            "62d55bf8b5fed827",
            "c391a9a9118d3b12"
        ],
        "x": 34,
        "y": 39,
        "w": 652,
        "h": 242
    },
    {
        "id": "6f8cb341a624a725",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d1d5761860630e5",
            "f26f764821d406cf",
            "742fce5412488928",
            "f43cac39516a6f0d",
            "26e75b1d97ea9010"
        ],
        "x": 34,
        "y": 299,
        "w": 512,
        "h": 222
    },
    {
        "id": "a1a7c03b79f28556",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "86397fca2539ddd5",
            "89c13c669c2e0f56",
            "bf2598d595675045",
            "b291efe98968ed45",
            "757d3cf7c6971394",
            "189136639e7733c9"
        ],
        "x": 714,
        "y": 39,
        "w": 672,
        "h": 222
    },
    {
        "id": "dfc987d7503267f1",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "21c6cd54aa48fbcb",
            "2a214a13db11e30d",
            "4028284ccdbaa43d",
            "895a407ff2269024"
        ],
        "x": 634,
        "y": 299,
        "w": 492,
        "h": 222
    },
    {
        "id": "72d122f5da95a597",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "258fbef0487ceedf",
            "98f3a3b9088a69bb",
            "fb9abf3a139624a6",
            "beb8e4283b90b2ac"
        ],
        "x": 34,
        "y": 559,
        "w": 472,
        "h": 242
    },
    {
        "id": "e04ca71a5699df8d",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a5faa35ff75e941f",
            "41dafcb5ae202d89",
            "05e34c107c516944",
            "1ff204f3558d8fd7"
        ],
        "x": 534,
        "y": 559,
        "w": 592,
        "h": 142
    },
    {
        "id": "c3317933d6ba62d6",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eacc7753f8eafa65",
            "06128533d611f557",
            "deb09a875fcefa78",
            "0783d842b8819c0e",
            "ed6c1bcb6b5a5b3a",
            "b2783e101e7fe4df",
            "88604fb51c1c730a",
            "1f7cda0250f19a40",
            "67e827ab2bcbf3fb",
            "390e22c352b33b3d",
            "039d1f28329253be"
        ],
        "x": 94,
        "y": 1099,
        "w": 832,
        "h": 322
    },
    {
        "id": "42bf83e78c2448df",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3076250a25ff821e",
            "7c18e8b16cb1fc1a",
            "eb10adfd67d35a64",
            "f6acede036bfa283"
        ],
        "x": 34,
        "y": 819,
        "w": 492,
        "h": 242
    },
    {
        "id": "19be93d218ea5065",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "446f4c1831859033",
            "7373f4f09f74cf4f",
            "af2ac23c9f46e89f",
            "0249f46502c192d8",
            "a09007a490960a6d"
        ],
        "x": 554,
        "y": 839,
        "w": 532,
        "h": 222
    },
    {
        "id": "2a2eee82647e59d9",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0712c9aaa2576642",
            "ed59cf58bbaea28e",
            "80507e940c54522a",
            "0265b75427dfa0c3",
            "051a0634f2c0cbe1",
            "e8fed109d69f0dd5",
            "32de8d7d424907ee"
        ],
        "x": 114,
        "y": 1273,
        "w": 864,
        "h": 740
    },
    {
        "id": "fab458635840f194",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e189ecd802172e5",
            "602f4c0ed027a896",
            "6243fa7ea09362a4"
        ],
        "x": 354,
        "y": 719,
        "w": 572,
        "h": 82
    },
    {
        "id": "b4acbb4fa910b71d",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "52bfe6c137bd1644",
            "3c3321ef3d105be0",
            "575b8dd8c92560ac"
        ],
        "x": 354,
        "y": 839,
        "w": 572,
        "h": 82
    },
    {
        "id": "399266970ed3c8d1",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f8c71b02e2e6a3cf",
            "35519cde47a513a6",
            "059ec5ae6fe47060"
        ],
        "x": 354,
        "y": 979,
        "w": 572,
        "h": 82
    },
    {
        "id": "ed59cf58bbaea28e",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "07406c8a0ad918da",
            "4683d24c696daa84",
            "47375513e6a6b2e5"
        ],
        "x": 354,
        "y": 1299,
        "w": 592,
        "h": 82
    },
    {
        "id": "80507e940c54522a",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ee8b7eb033129cf4",
            "ec7c247a2d3e02c3",
            "ec252ef7f29ee5e8"
        ],
        "x": 354,
        "y": 1419,
        "w": 572,
        "h": 82
    },
    {
        "id": "0265b75427dfa0c3",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "173ab6ca415083cf",
            "7964f1d1d04092fc",
            "b8c57dbc783095c9"
        ],
        "x": 354,
        "y": 1699,
        "w": 572,
        "h": 82
    },
    {
        "id": "e8fed109d69f0dd5",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e981e4236c8024f4",
            "e776c6ad90aa034d",
            "e6cb77d1035d1124",
            "f4220918acb442d2"
        ],
        "x": 328,
        "y": 1799,
        "w": 624,
        "h": 188
    },
    {
        "id": "f4220918acb442d2",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "e8fed109d69f0dd5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c30b72050847c8d7",
            "906ec0e3279e6c88",
            "f776d0a59acb3945"
        ],
        "x": 354,
        "y": 1879,
        "w": 572,
        "h": 82
    },
    {
        "id": "8966a7b403a8fb88",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#8080ff",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "66c6923e3822666a",
        "type": "ui-page",
        "name": "User Interface for Lab 05",
        "ui": "926d3079c9560d19",
        "path": "/robot",
        "icon": "robot-happy-outline",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e45e312c80fc001e",
        "type": "ctrlx-config",
        "name": "Nodered_CtrlX",
        "hostname": "192.168.0.200",
        "debug": false
    },
    {
        "id": "c5b0190b901ecb86",
        "type": "ctrlx-config-subscription",
        "device": "e45e312c80fc001e",
        "name": "Subscribe",
        "publishIntervalMs": "",
        "publishIntervalUnits": "seconds",
        "samplingInterval": "",
        "samplingIntervalUnits": "seconds",
        "errorInterval": "",
        "errorIntervalUnits": "seconds",
        "keepaliveInterval": "",
        "keepaliveIntervalUnits": "minutes",
        "queueSize": "",
        "queueBehaviour": "DiscardOldest",
        "deadbandValue": ""
    },
    {
        "id": "bb97738361048557",
        "type": "ui-group",
        "name": "Robot Position",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5e3f352f60d7af69",
        "type": "ui-page",
        "name": "Documentations",
        "ui": "926d3079c9560d19",
        "path": "/page3",
        "icon": "home",
        "layout": "notebook",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6b2222aa7324c02b",
        "type": "ui-group",
        "name": "Base",
        "page": "5e3f352f60d7af69",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f52f774838673224",
        "type": "ui-group",
        "name": "Commands and Read",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6f4d4cc842955c98",
        "type": "ui-group",
        "name": "CPU",
        "page": "5e3f352f60d7af69",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5765b0da98500f6a",
        "type": "ui-group",
        "name": "Function Block Gripper",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "926d3079c9560d19",
        "type": "ui-base",
        "name": "Home",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "328b4649a9ced4a0",
        "type": "ui-page",
        "name": "Alarms",
        "ui": "926d3079c9560d19",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7d8adc78da567ef2",
        "type": "ui-group",
        "name": "Alarms",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5794c6df8ea5c237",
        "type": "ui-group",
        "name": "Alarms History",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3d6ba5b3b7bc8bec",
        "type": "ui-group",
        "name": "Warnings",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e1f3bcea95b360ed",
        "type": "ui-group",
        "name": "Test Alarms and Warnings",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "aad8bd12c162de85",
        "type": "ui-group",
        "name": "Axis Move Absolute",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e4a4e186145c35ce",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "group": "5765b0da98500f6a",
        "name": "InOp TRUE/FALSE",
        "label": "InOp",
        "order": 7,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "94fe66ce01a44d97",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "e4a4e186145c35ce"
            ]
        ]
    },
    {
        "id": "ded8a5dc4b3027b0",
        "type": "inject",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "94fe66ce01a44d97",
                "c2c3ec1d528d773f"
            ]
        ]
    },
    {
        "id": "b848aa9c4c8bb73e",
        "type": "inject",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "94fe66ce01a44d97"
            ]
        ]
    },
    {
        "id": "c2c3ec1d528d773f",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "InOp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "62d55bf8b5fed827",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "InOp",
        "info": "",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "c391a9a9118d3b12",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/gripperStateInOp",
        "name": "",
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "94fe66ce01a44d97",
                "c2c3ec1d528d773f"
            ]
        ]
    },
    {
        "id": "9d1d5761860630e5",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "group": "5765b0da98500f6a",
        "name": "Open Done TRUE / FALSE",
        "label": "Open Done",
        "order": 6,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 400,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f26f764821d406cf",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 420,
        "wires": [
            [
                "9d1d5761860630e5"
            ]
        ]
    },
    {
        "id": "742fce5412488928",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "Open Done",
        "info": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "f43cac39516a6f0d",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/executeOpenDone",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "f26f764821d406cf",
                "26e75b1d97ea9010"
            ]
        ]
    },
    {
        "id": "86397fca2539ddd5",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "group": "5765b0da98500f6a",
        "name": "Error TRUE / FALSE",
        "label": "Error",
        "order": 10,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "89c13c669c2e0f56",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 160,
        "wires": [
            [
                "86397fca2539ddd5"
            ]
        ]
    },
    {
        "id": "bf2598d595675045",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "Error",
        "info": "",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "b291efe98968ed45",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/gripperStateError",
        "name": "",
        "inputs": 0,
        "x": 900,
        "y": 80,
        "wires": [
            [
                "89c13c669c2e0f56",
                "189136639e7733c9"
            ]
        ]
    },
    {
        "id": "21c6cd54aa48fbcb",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "group": "5765b0da98500f6a",
        "name": "IsOpen TRUE / FALSE",
        "label": "Is Open",
        "order": 3,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1000,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2a214a13db11e30d",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "21c6cd54aa48fbcb"
            ]
        ]
    },
    {
        "id": "4028284ccdbaa43d",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "name": "IsOpen",
        "info": "",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "895a407ff2269024",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/gripperStateOpen",
        "name": "",
        "inputs": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "2a214a13db11e30d"
            ]
        ]
    },
    {
        "id": "258fbef0487ceedf",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "group": "5765b0da98500f6a",
        "name": "IsClosed TRUE / FALSE",
        "label": "Is Closed",
        "order": 5,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "98f3a3b9088a69bb",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 680,
        "wires": [
            [
                "258fbef0487ceedf"
            ]
        ]
    },
    {
        "id": "fb9abf3a139624a6",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "name": "IsClosed",
        "info": "",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "beb8e4283b90b2ac",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/gripperStateClosed",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "98f3a3b9088a69bb"
            ]
        ]
    },
    {
        "id": "757d3cf7c6971394",
        "type": "ui-notification",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "ui": "926d3079c9560d19",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "50",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Gripper Error : Disable Gripper to cancel",
        "x": 1140,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "189136639e7733c9",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "Set Alarm",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === true) {\n  msg.payload = 'Alarm because of TimeOut, Disable Gripper to cancel Error'\n  return msg;\n} else {\n  ;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "757d3cf7c6971394"
            ]
        ]
    },
    {
        "id": "a5faa35ff75e941f",
        "type": "ui-text",
        "z": "eaf2bfc7454623a0",
        "g": "e04ca71a5699df8d",
        "group": "5765b0da98500f6a",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "Gripper",
        "label": "Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 840,
        "y": 660,
        "wires": []
    },
    {
        "id": "41dafcb5ae202d89",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e04ca71a5699df8d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Gripper_State', position);\n\nlet postion_mm = 'Gripper : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 660,
        "wires": [
            [
                "a5faa35ff75e941f"
            ]
        ]
    },
    {
        "id": "05e34c107c516944",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "e04ca71a5699df8d",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/reSensorGripper",
        "name": "",
        "inputs": 0,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "41dafcb5ae202d89"
            ]
        ]
    },
    {
        "id": "1ff204f3558d8fd7",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "e04ca71a5699df8d",
        "name": "IsPosition",
        "info": "",
        "x": 1040,
        "y": 600,
        "wires": []
    },
    {
        "id": "eacc7753f8eafa65",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "group": "5765b0da98500f6a",
        "name": "",
        "label": "Close",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 1320,
        "wires": [
            [
                "b2783e101e7fe4df"
            ]
        ]
    },
    {
        "id": "06128533d611f557",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "group": "5765b0da98500f6a",
        "name": "",
        "label": "Open",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "deb09a875fcefa78"
            ]
        ]
    },
    {
        "id": "deb09a875fcefa78",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "ed6c1bcb6b5a5b3a"
            ]
        ]
    },
    {
        "id": "0783d842b8819c0e",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1200,
        "wires": [
            [
                "ed6c1bcb6b5a5b3a"
            ]
        ]
    },
    {
        "id": "ed6c1bcb6b5a5b3a",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/openGripper",
        "payloadFormat": "value_type",
        "name": "Open Gripper",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 820,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b2783e101e7fe4df",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1320,
        "wires": [
            [
                "1f7cda0250f19a40"
            ]
        ]
    },
    {
        "id": "88604fb51c1c730a",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1380,
        "wires": [
            [
                "1f7cda0250f19a40"
            ]
        ]
    },
    {
        "id": "1f7cda0250f19a40",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/closeGripper",
        "payloadFormat": "value_type",
        "name": "Close Gripper",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 820,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "3076250a25ff821e",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "42bf83e78c2448df",
        "group": "5765b0da98500f6a",
        "name": "Part Present TRUE / FALSE",
        "label": "Part Present",
        "order": 9,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 220,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7c18e8b16cb1fc1a",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "42bf83e78c2448df",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 940,
        "wires": [
            [
                "3076250a25ff821e"
            ]
        ]
    },
    {
        "id": "eb10adfd67d35a64",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "42bf83e78c2448df",
        "name": "Part Present",
        "info": "",
        "x": 430,
        "y": 980,
        "wires": []
    },
    {
        "id": "f6acede036bfa283",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "42bf83e78c2448df",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/gripperStatePartPresent",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 860,
        "wires": [
            [
                "7c18e8b16cb1fc1a"
            ]
        ]
    },
    {
        "id": "446f4c1831859033",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "19be93d218ea5065",
        "group": "5765b0da98500f6a",
        "name": "Close Done TRUE / FALSE",
        "label": "Close Done",
        "order": 8,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "7373f4f09f74cf4f",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "19be93d218ea5065",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 960,
        "wires": [
            [
                "446f4c1831859033"
            ]
        ]
    },
    {
        "id": "af2ac23c9f46e89f",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "19be93d218ea5065",
        "name": "Close Done",
        "info": "",
        "x": 930,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0249f46502c192d8",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "19be93d218ea5065",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/stTestFbGripperHmi/executeCloseDone",
        "name": "",
        "inputs": 0,
        "x": 740,
        "y": 880,
        "wires": [
            [
                "7373f4f09f74cf4f",
                "a09007a490960a6d"
            ]
        ]
    },
    {
        "id": "67e827ab2bcbf3fb",
        "type": "link in",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "Reset",
        "links": [
            "3721ba1125f3e447"
        ],
        "x": 355,
        "y": 1280,
        "wires": [
            [
                "0783d842b8819c0e",
                "88604fb51c1c730a"
            ]
        ]
    },
    {
        "id": "a09007a490960a6d",
        "type": "link out",
        "z": "eaf2bfc7454623a0",
        "g": "19be93d218ea5065",
        "name": "Close Done",
        "mode": "link",
        "links": [
            "390e22c352b33b3d"
        ],
        "x": 1045,
        "y": 880,
        "wires": []
    },
    {
        "id": "390e22c352b33b3d",
        "type": "link in",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "Close Done",
        "links": [
            "a09007a490960a6d"
        ],
        "x": 195,
        "y": 1380,
        "wires": [
            [
                "88604fb51c1c730a"
            ]
        ]
    },
    {
        "id": "26e75b1d97ea9010",
        "type": "link out",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "Open Done",
        "mode": "link",
        "links": [
            "039d1f28329253be"
        ],
        "x": 485,
        "y": 340,
        "wires": []
    },
    {
        "id": "039d1f28329253be",
        "type": "link in",
        "z": "eaf2bfc7454623a0",
        "g": "c3317933d6ba62d6",
        "name": "Open Done",
        "links": [
            "26e75b1d97ea9010"
        ],
        "x": 195,
        "y": 1200,
        "wires": [
            [
                "0783d842b8819c0e"
            ]
        ]
    },
    {
        "id": "a12abec19b950583",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiStateMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 250,
        "y": 860,
        "wires": [
            [
                "c49cf2bce7d87104"
            ]
        ]
    },
    {
        "id": "c49cf2bce7d87104",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "PackML State : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "d42e8acbe3501983",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackTime/Date_and_time_string",
        "name": "",
        "inputs": 0,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "4c3d0833f9aa8ad5"
            ]
        ]
    },
    {
        "id": "4c3d0833f9aa8ad5",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "PLC Time: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "3b06631cf122bdf3",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Start",
        "order": 5,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "restart",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "95fb6b0f42cf7c3a"
            ]
        ]
    },
    {
        "id": "95fb6b0f42cf7c3a",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "b7fe6484e9a7f19b"
            ]
        ]
    },
    {
        "id": "b7fe6484e9a7f19b",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStart",
        "payloadFormat": "value_type",
        "name": "Start",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3f5cba2b578b6f16",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdClear",
        "payloadFormat": "value_type",
        "name": "Clear",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff03659b1dd4645",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Clear",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power-plug",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "cf301bd39edd06a3"
            ]
        ]
    },
    {
        "id": "cf301bd39edd06a3",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 340,
        "wires": [
            [
                "3f5cba2b578b6f16"
            ]
        ]
    },
    {
        "id": "20ee0148a275dedb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiModeMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "9bd81e8275e8f9fc"
            ]
        ]
    },
    {
        "id": "9bd81e8275e8f9fc",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "PackML Mode : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "59670bcba7664fbf",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "name": "Get Current Mode, State and Time",
        "info": "",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "fcbaa2bbfa97fe76",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "subscription": "c5b0190b901ecb86",
        "path": "framework/metrics/system/cpu-utilisation-percent",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 960,
        "wires": [
            [
                "70e837f7c57ab252"
            ]
        ]
    },
    {
        "id": "70e837f7c57ab252",
        "type": "ui-gauge",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "CPU Usage",
        "group": "6f4d4cc842955c98",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CPU Usage",
        "units": "%",
        "icon": "cpu-64-bit",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "20",
                "color": "#ffc800"
            },
            {
                "from": "90",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "fb3ab66a497550f6",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "Get CPU Usage from DataLayer",
        "info": "",
        "x": 640,
        "y": 1020,
        "wires": []
    },
    {
        "id": "24e0eb8b4aad0a0f",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Stop",
        "order": 8,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "a3990a60b44254b8"
            ]
        ]
    },
    {
        "id": "a3990a60b44254b8",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "9339e55232306223"
            ]
        ]
    },
    {
        "id": "9339e55232306223",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStop",
        "payloadFormat": "value_type",
        "name": "Stop",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b6090bcb4f099cbc",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "order": 10,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "First Alarm: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d259a6a16e0d83e3",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextAlarmOne",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "b6090bcb4f099cbc"
            ]
        ]
    },
    {
        "id": "6cf33825ef3e24de",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "order": 11,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "First Warning :  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "1427dd2c7b33fd68",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextWarningOne",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "6cf33825ef3e24de"
            ]
        ]
    },
    {
        "id": "1942f3c95083713f",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "order": 12,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Stop Reason :  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "57e7c2258dc1f648",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextStopReason",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "1942f3c95083713f"
            ]
        ]
    },
    {
        "id": "35a275644c670c96",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Hold",
        "order": 9,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "hand-back-left",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "yellow",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "2cf51e4ad9793a8e"
            ]
        ]
    },
    {
        "id": "2cf51e4ad9793a8e",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 480,
        "wires": [
            [
                "93976703f72dfc6c"
            ]
        ]
    },
    {
        "id": "93976703f72dfc6c",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdHold",
        "payloadFormat": "value_type",
        "name": "Hold",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1276722ad619e092",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Unhold",
        "order": 6,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "hand-back-left-off",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "6783bc468d29d40e"
            ]
        ]
    },
    {
        "id": "6783bc468d29d40e",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 540,
        "wires": [
            [
                "93976703f72dfc6c"
            ]
        ]
    },
    {
        "id": "80e64c45d11479fd",
        "type": "link in",
        "z": "f479262664cd75e2",
        "name": "link in 2",
        "links": [
            "3721ba1125f3e447"
        ],
        "x": 75,
        "y": 620,
        "wires": [
            [
                "6783bc468d29d40e"
            ]
        ]
    },
    {
        "id": "69a1382792d493e5",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e03c864b75823938",
                "84fccf9607b693bd"
            ]
        ]
    },
    {
        "id": "4a99555c5c99a906",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "X",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "a1188273fa858afb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_y/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "e4035f4d4de3c39a"
            ]
        ]
    },
    {
        "id": "5873013b9baa66fd",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Y",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "8568cbc5e8e3a3e7",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_z/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "b09d4b9362aac004",
                "6e51b78d9c6f5a96"
            ]
        ]
    },
    {
        "id": "b0f2ba42e531280b",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Z",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "e03c864b75823938",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "84fccf9607b693bd",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('X_Position', position);\n\nlet postion_mm = 'Axis X : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "4a99555c5c99a906"
            ]
        ]
    },
    {
        "id": "e4035f4d4de3c39a",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Y_Position', position);\n\nlet postion_mm = 'Axis Y : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "5873013b9baa66fd"
            ]
        ]
    },
    {
        "id": "b09d4b9362aac004",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Z_Position', position);\n\nlet postion_mm = 'Axis Z : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "b0f2ba42e531280b"
            ]
        ]
    },
    {
        "id": "6e51b78d9c6f5a96",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "function 2",
        "func": "let newMsg = msg;\n\nnewMsg.payload.logDate = Date();\n\nmsg = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "e6079fe93ae39937"
            ]
        ]
    },
    {
        "id": "e6079fe93ae39937",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "e85f7c32b3e4d863",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Axes Position",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "5af87b665ab849ef",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "c88f46c050aa51a3"
            ]
        ]
    },
    {
        "id": "c88f46c050aa51a3",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdReset",
        "payloadFormat": "value_type",
        "name": "Reset",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c128f90be143a216",
        "type": "ui-button",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "group": "f52f774838673224",
        "name": "",
        "label": "Reset",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "lock-reset",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "5af87b665ab849ef",
                "ac49f0b9e2200d23",
                "3721ba1125f3e447"
            ]
        ]
    },
    {
        "id": "ac49f0b9e2200d23",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset X Y Z Slider",
        "func": "const msg1 = {payload:-199};\nconst msg2 = {payload:-78};\nconst msg3 = {payload:0};\n\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "1e189ecd802172e5"
            ],
            [
                "52bfe6c137bd1644"
            ],
            [
                "f8c71b02e2e6a3cf"
            ]
        ]
    },
    {
        "id": "1e189ecd802172e5",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "group": "bb97738361048557",
        "name": "",
        "label": "X Abs. Position",
        "tooltip": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-220",
        "max": "220",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 460,
        "y": 760,
        "wires": [
            [
                "6243fa7ea09362a4"
            ]
        ]
    },
    {
        "id": "602f4c0ed027a896",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_X",
        "payloadFormat": "value_type",
        "name": "X Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "6243fa7ea09362a4",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "602f4c0ed027a896"
            ]
        ]
    },
    {
        "id": "52bfe6c137bd1644",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "group": "bb97738361048557",
        "name": "",
        "label": "Y Abs. Position",
        "tooltip": "",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 460,
        "y": 880,
        "wires": [
            [
                "575b8dd8c92560ac"
            ]
        ]
    },
    {
        "id": "3c3321ef3d105be0",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Y",
        "payloadFormat": "value_type",
        "name": "Y Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "575b8dd8c92560ac",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "3c3321ef3d105be0"
            ]
        ]
    },
    {
        "id": "f8c71b02e2e6a3cf",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "group": "bb97738361048557",
        "name": "",
        "label": "Z Abs. Position",
        "tooltip": "",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-149",
        "max": "150",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "059ec5ae6fe47060"
            ]
        ]
    },
    {
        "id": "35519cde47a513a6",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Z",
        "payloadFormat": "value_type",
        "name": "Z Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "059ec5ae6fe47060",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "35519cde47a513a6"
            ]
        ]
    },
    {
        "id": "b21a4f9c5ea48486",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Manage and Init Axes Sliders",
        "info": "",
        "x": 780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3721ba1125f3e447",
        "type": "link out",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset Gripper",
        "mode": "link",
        "links": [
            "67e827ab2bcbf3fb",
            "32de8d7d424907ee",
            "80e64c45d11479fd"
        ],
        "x": 245,
        "y": 780,
        "wires": []
    },
    {
        "id": "0712c9aaa2576642",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "name": "Reset Dynamic",
        "func": "const msgPos1 = {payload:-50};\nconst msgPos2 = {payload:50};\nconst msgV = {payload:0.1};\nconst msgA = {payload:1};\nconst msgJ = {payload:10};\n\n\nreturn [msgPos1, msgPos2, msgV, msgA, msgJ];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1420,
        "wires": [
            [
                "07406c8a0ad918da"
            ],
            [
                "ee8b7eb033129cf4"
            ],
            [
                "173ab6ca415083cf"
            ],
            [
                "e981e4236c8024f4"
            ],
            [
                "c30b72050847c8d7"
            ]
        ]
    },
    {
        "id": "07406c8a0ad918da",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "ed59cf58bbaea28e",
        "group": "aad8bd12c162de85",
        "name": "",
        "label": "Position One [mm]",
        "tooltip": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-150",
        "max": "0",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "47375513e6a6b2e5"
            ]
        ]
    },
    {
        "id": "4683d24c696daa84",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "ed59cf58bbaea28e",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_PackModule_Lab_05/Position_One_mm",
        "payloadFormat": "value_type",
        "name": "Abs One",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 860,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "47375513e6a6b2e5",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "ed59cf58bbaea28e",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1340,
        "wires": [
            [
                "4683d24c696daa84"
            ]
        ]
    },
    {
        "id": "ee8b7eb033129cf4",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "80507e940c54522a",
        "group": "aad8bd12c162de85",
        "name": "",
        "label": "Position Two [mm]",
        "tooltip": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "150",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 470,
        "y": 1460,
        "wires": [
            [
                "ec252ef7f29ee5e8"
            ]
        ]
    },
    {
        "id": "ec7c247a2d3e02c3",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "80507e940c54522a",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_PackModule_Lab_05/Position_Two_mm",
        "payloadFormat": "value_type",
        "name": "Abs 2",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "ec252ef7f29ee5e8",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "80507e940c54522a",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1460,
        "wires": [
            [
                "ec7c247a2d3e02c3"
            ]
        ]
    },
    {
        "id": "173ab6ca415083cf",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "0265b75427dfa0c3",
        "group": "aad8bd12c162de85",
        "name": "",
        "label": "Velocity [m/s]",
        "tooltip": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "0.3",
        "step": "0.01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 450,
        "y": 1740,
        "wires": [
            [
                "b8c57dbc783095c9"
            ]
        ]
    },
    {
        "id": "7964f1d1d04092fc",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "0265b75427dfa0c3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_PackModule_Lab_05/Velocity_m_s",
        "payloadFormat": "value_type",
        "name": "Vel.",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "b8c57dbc783095c9",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "0265b75427dfa0c3",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1740,
        "wires": [
            [
                "7964f1d1d04092fc"
            ]
        ]
    },
    {
        "id": "051a0634f2c0cbe1",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "name": "Axis Move Absolute",
        "info": "",
        "x": 230,
        "y": 1820,
        "wires": []
    },
    {
        "id": "e981e4236c8024f4",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "e8fed109d69f0dd5",
        "group": "aad8bd12c162de85",
        "name": "",
        "label": "Acceleration [m/s2]",
        "tooltip": "",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "3",
        "step": "0.1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 470,
        "y": 1840,
        "wires": [
            [
                "e6cb77d1035d1124"
            ]
        ]
    },
    {
        "id": "e776c6ad90aa034d",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "e8fed109d69f0dd5",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_PackModule_Lab_05/Acceleleration_m_s2",
        "payloadFormat": "value_type",
        "name": "Accel",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "e6cb77d1035d1124",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "e8fed109d69f0dd5",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1840,
        "wires": [
            [
                "e776c6ad90aa034d"
            ]
        ]
    },
    {
        "id": "c30b72050847c8d7",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "f4220918acb442d2",
        "group": "aad8bd12c162de85",
        "name": "",
        "label": "Jerk [m/s3]",
        "tooltip": "",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "30",
        "step": "1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 450,
        "y": 1920,
        "wires": [
            [
                "f776d0a59acb3945"
            ]
        ]
    },
    {
        "id": "906ec0e3279e6c88",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "f4220918acb442d2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_PackModule_Lab_05/Jerk_m_s3",
        "payloadFormat": "value_type",
        "name": "Jerk",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "f776d0a59acb3945",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "f4220918acb442d2",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1920,
        "wires": [
            [
                "906ec0e3279e6c88"
            ]
        ]
    },
    {
        "id": "32de8d7d424907ee",
        "type": "link in",
        "z": "66b713bff26c6577",
        "g": "2a2eee82647e59d9",
        "name": "link in 1",
        "links": [
            "3721ba1125f3e447"
        ],
        "x": 225,
        "y": 1320,
        "wires": [
            [
                "0712c9aaa2576642"
            ]
        ]
    },
    {
        "id": "5c7cf1a654210fbf",
        "type": "ui-markdown",
        "z": "2c31763846faff4a",
        "group": "6b2222aa7324c02b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "## Dynamic info\nAxis X: {{msg.payload}}\n\n# Lab 03\n\nCourse AutB\n\nAuthor: [Cdric Lenoir](mailto:cedric.lenoir@hevs.ch)  \n> Version 2025, V1.0\n\n# LAB 03 Programming a Function Block (FB) to Manage a Distance Sensor\n\nIn this lab, we will program a Function Block (FB) to manage a distance sensor.\n\nInitially, we could use only the basic information provided by the sensor, namely the measured distance.  \nHowever, if we want to implement additional functionalities, we will need to program them in a POU (Program Organization Unit) called the **Function Block (FB)**.  \nAll functionalities will be \"encapsulated\" in this Function Block and can be used by all sensors of the same type through **instances** of this FB.\n\n# Sensor Description\nThe distance sensor we will use in this lab is manufactured by [Baumer](https://www.baumer.com/ch/en).  \nIt uses laser triangulation measurement technology to determine the distance to the target object.\n\n<u>Sensor Reference</u>: O300.DL-GM1J.72N (11199079)\n\n<br>\n\nThis sensor relies on the **IO-Link** point-to-point communication interface (compliant with IEC 61131-9).\n\nUnlike traditional systems where analog-to-digital conversion is performed at the PLC's analog input card, this is done directly inside the sensor.\n\n<br>\n\n## Technical Data\n\n|Property                          |Value|\n|-----------------------------------|-------------|\n|Measuring distance Sd              |30 ... 250 mm|\n|Beam shape                         |point|\n|Optical alignment axis             |< 2|\n|Voltage range +Vs                  |11 ... 30 VDC|\n|Max consumption (no load)          |30 mA|\n|Residual voltage Vd                |< 2.5 VDC|\n|Reverse polarity protection        |yes|\n|Short-circuit protection           |yes|\n|Interface                          |IO-Link V1.1|\n|Operating temperature              |-10 ... +60 C|\n|Protection class                   |IP 67|\n\n<br>\n\nThese data are mainly relevant to the person managing the hardware.\n\nFor the PLC programmer, the focus will be on the sensor data that can be accessed for reading and, depending on access rights, also for writing.\n\n## Synchronous Data\n**Synchronous** data (Processdata) are transmitted at regular intervals. They are detailed in the table below.\n\n### IO-Link \"Processdata\"\n|8-23|7|6|5|4|3|2|1|0|\n|----|-|-|-|-|-|-|-|-|\n|MDC1| | | | |A|Q| |BDC1|\n\n**MDC1**: sensor measurement value  \n**A**: alarm bit (indicates a problem with the sensor's configuration or functionality)  \n**Q**: quality bit (indicates that the signal quality is below a pre-configured threshold)  \n**BDC1**: logical switching output of the sensor  \n\n<br>\n\n## Asynchronous Data\n**Asynchronous** data can be read or modified without strict temporal synchronization.  \nSome parameters are shown below as examples.\n\nThe [pre-defined parameters](#io-link-pre-defined-parameters) allow sensor identification. The [binary data channel parameters](#io-link-binary-data-channels) allow, for example, adjusting a threshold within the sensor's detection range.\n\n### IO-Link Pre-defined Parameters\n|Index      |Subindex (dec) |Access |Parameter name |Coding |Definition|\n|-----------|---------------|-------|---------------|-------|----------|\n|0x000C (12)| 0             |R/W    |Device Access Locks| Uint16|0: Unlocked (default)\n|           |               |       |             |       |1: Device is operating properly|\n|0x0010 (16)| 0             |R      |Vendor Name| String|Baumer Electric AG|\n|0x0011 (17)| 0             |R      |Vendor Text| String|www.baumer.com|\n|0x0012 (18)| 0             |R      |Device Name| String|Product Key External (<Product Key Internal>)|\n|0x0013 (19)| 0             |R      |Product Id| String|Baumer Article Number|\n|0x0014 (20)| 0             |R      |Device Text| String|Sensor specific|\n|0x0015 (21)| 0             |R      |Serial Number| String|Production Order Nr / Serial Nr |\n|0x0017 (23)| 0             |R      |Firmware Revision| String|Major.Minor ##.##|\n|0x0018 (24)| 0             |R/W    |Application Specific Tag|String| Default: Filled with ******, as recommended by the IO-Link spec.|\n|0x0024 (36)| 0             |R      |Device Status| Uint16| 0: Device is operating properly\n|           |               |       |             |       | 1: Device is operating properly\n|           |               |       |             |       | 2: Out-of-Specification\n|           |               |       |             |       | 3: Functional-Check\n|           |               |       |             |       | 4: Failure\n|           |               |       |             |       | 5 - 255: Reserved|\n|0x0025 (37)| 0             |R      |Detailed Device Status| Uint16| EventQualifier 0x00 EventCode 0x00, 0x00\n\n<br>\n\n### IO-Link Binary Data Channels\n|Index      |Subindex (dec) |Access |Parameter name| Coding| Definition|\n|-----------|---------------|-------|---------------|-------|----------|\n|0x003c (60)| 01            |R/W    | Setpoint SP1  |Uint16 |Teach Point [mm] (TP)|\n|           | 02            |R/W    |Setpoint SP2   |Uint16 |Not supported|\n|0x003d (61)| 01            |R/W    |Switchpoint logic|Uint8|0x00: not inverted 0x01: inverted|\n|           | 02            |R/(W)  |Switchpoint mode|Uint8|Fixed value 0x01: Single point mode|\n\n<br>\n\nAsynchronous parameter management can be done directly from the PLC.  \nHowever, the PLC, being primarily dedicated to cyclic tasks, is not very efficient for this type of work.  \n<br>\nAnother option is to use software provided by the manufacturers, which allows sensor configuration without going through the PLC.  \nFor example, Baumer offers the [Baumer Sensor Suite (BSS)](https://www.baumer.com/us/en/products/baumer-sensor-suite/a/baumer-sensor-suite).\n\n<br>\n\nTo enable a PLC to access an IO-Link sensor, an **IO-Link Master** is required.  \n<br>\n\nThis module acts as a gateway, enabling bidirectional communication between the \"IO-Link\" protocol and the PLC's fieldbus protocol (Profinet, EtherCAT, Ethernet/IP, Modbus TCP, etc.).\n\n\n# Practical Work\n\n<u>Objective</u>:  \nProgram a Function Block (FB) that reads and processes the sensor's synchronous data while integrating specific functionalities.\n\n<br>\n\n## Function Block (FB) Interface Description\n\n### Input\n\n|Name   |Type       |Description|\n|-------|-----------|-----------|\n|Enable\t|BOOL\t    |Activate Function Block, set data value in output if valid.|\n|HighThreshold|REAL|Sets upper switching threshold|\n|LowThreshold|REAL|Sets lower switching threshold|\n|DefaultOut  |REAL        |Default value when problems occur|\n\n### In Out\n|Name   |Type       |Description|\n|-------|-----------|-----------|\n|hw |UA_O300_DL |In the particular context of the ctrlX to S7 interface.|\n\n### Output\n|Name         |Type         |Description         |\n|-------------|:------------|--------------------|\n|InOperation\t|BOOL\t        |Valid data at output|\n|Value\t|REAL\t        |Distance from object in mm|\n|HighLimit\t      |BOOL\t        |Distance above HighThreshold   |\n|LowLimit\t      |BOOL\t        |Distance below LowThreshold   |\n|Error\t      |BOOL\t        |There is an error   |\n|ErrorID\t    |WORD         |Some details about the error with Error Code.|\n\n|ErrorID Code |Description|\n|-------------|-----------|\n|16#0000      |Data valid |\n|16#0001      |Quality bit, signal is below the configured threshold.|\n|16#0002      |Alarm bit, signal an error in sensor, this alarm has priority over ID 16#0001|\n|16#0003      |Id not defined|\n\n<br>\n\n## Function Block (FB) Behavior\n\nThere are a few basic models that describe the behavior of Function Blocks.\n\nFor example:\n\n- The **\"In Operation Base\"** model, which operates continuously.\n- The **\"Execute\"** model, which operates based on a one-time trigger.\n\nManaging a sensor is a typical example of an FB operating according to the **\"In Operation Base\"** model.  \nThe FB runs as long as its ``Enable`` input is activated.\n\n<br>\n\nThe state diagram of an **In Operation Base** Function Block can be represented as follows:\n\n<div style=\"text-align: center;\">\n\n```mermaid\n---\ntitle: Not all links represented\n---\n\nstateDiagram-v2\n    [*] --> Idle\n    Idle --> Init\n    Init --> InOp\n    InOp --> Error : Error Condition\n    InOp --> Idle : Not Enable\n    Error --> Idle : Not Enable\n```\n\n</div>\n\n<br>\n\n<div style=\"text-align: center;\">\n\n```mermaid\n---\ntitle: Not all links represented\n---\n\nstateDiagram-v2\n    [*] --> Idle\n    Idle --> Init\n    Init --> InOpLevelOk\n    Init --> InOpLevelHigh\n    Init --> InOpLevelLow\n    InOpLevelOk --> Error\n    InOpLevelHigh --> Error\n    InOpLevelLow --> Error\n    InOpLevelOk --> Idle\n    InOpLevelHigh --> Idle\n    InOpLevelLow --> Idle\n    Error --> Idle : Not Enable\n\n```\n\n</div>\n\n<br>\n\nWe quickly notice that even if the number of states is limited, the complete representation becomes difficult to read.\n\n**This representation will nevertheless be used to program our Function Block (FB).**\n\n<br>\n\n### Output Signal in Case of Malfunction or Disturbances\nDepending on the sensor's use, an erroneous read value can cause problems.\n\nIf the sensor is faulty (Alarm bit signal) or if the signal quality (Quality bit signal) is not correct, **we absolutely do not want the output signal ``Value`` to be 0**.\n\nIn this case, the ``DefaultOut`` input will be assigned to the ``Value`` output.\n\n<u>Note</u>: The system can be tested with a default ``DefaultOut`` value set to 251 (1 [mm] more than the sensor's theoretical measurement range).\n\n# Tasks to Complete\n\n1. Program the DUT (Data User Type) ``E_OperationBaseDL`` of type ENUM (enumeration) containing the sensor's possible states.\n2. Program the FB (Function Block) ``FB_O300_DL`` using the interface below.\n\n```iec61131-3\n\nFUNCTION_BLOCK FB_O300_DL\nVAR_INPUT\n    Enable: BOOL;\n    HighThreshold: REAL;\n    LowThreshold: REAL;\n    DefaultOut: REAL;\nEND_VAR\nVAR_IN_OUT\n    hw: UA_O300_DL;\nEND_VAR\nVAR_OUTPUT\n    InOperation: BOOL;\n    Value: REAL;\n    HighLimit: BOOL;\n    LowLimit: BOOL;\n    Error: BOOL;\n    ErrorId: WORD;\nEND_VAR\nVAR\n    eOperationBaseDL: E_OperationBaseDL;\n    inputConverted: REAL;\nEND_VAR\n\n\n```\n\n<br>\n\n**Guidelines to Follow:**\n\n- Write a state machine using ``CASE...OF`` with the different states and transition conditions.\n- Set the output states, ``InOperation``, ``HighLimit``, ``LowLimit``, and ``Error``, considering only the states.\n- Define the ``ErrorId`` variable using ``IF..ELSIF..ELSE`` conditions.\n- Assign a value to the ``Value`` output variable using ``IF..ELSE`` based on the ``InOperation`` state.\n\nN.B.: Do not forget to call the Function Block ``FB_O300_DL`` from the main program ``PRG_Student``!\n\n<u>Information</u>:  \nName of the structured variable to access the synchronous data of the distance sensor: ``GVL_Abox.uaAboxInterface.uaO300_DL_Optic``\n\n<br>\n<br>\n\n3. Test the Function Block (FB)\n\nThe FB's functionality will be verified using the distance sensor mounted on the unit.  \nThe position of the target mounted on the unit's Cartesian axis system will allow adjusting the distance measured by the sensor.\n\n\n<br>\n\nThe movement of the unit's X, Y, and Z axes will be performed using the **Node-RED** application provided.\n\n<br>\n\n<u>Steps to Use the \"Node-RED\" Application</u>:\n\n1. Replace the ``flows.json`` file located in the directory C:\\Users\\[your_username]\\.node-red with the ``flows.json`` file located under: autb-lab-03_2025\\PracticalWork_03_Student\\\n\n<br>\n\n2. Start Node-RED  \n- Open the command prompt (--> cmd.exe)  \n- Enter the command: node-red  \n\n<br>\n\n3. Access the Node-RED user interface  \n- Open the browser  \n- Enter the URL: http://localhost:1880  \n\n<br>\n\n4) Install additional modules for the application (if necessary!)\n\n- Click on the three horizontal lines at the top right  \n\n\n--> Manage Palette  \n\n--> Select the \"Install\" tab  \n\n--> Install the following modules:  \n\n    - @flowfuse/node-red-dashboard  \n    - node-red-contrib-ctrlx-automation  \n\n<br>\n\n5) Open the Dashboard  \n\n6. Start the installation using the \"Siemens\" operator panel  \n- Select \"Manual\" mode using the ``Manual`` button.  \n- Put the installation in the \"Execute\" state using the ``Reset`` and ``Start`` buttons.  \n\n\n<br>\n\n7. Move the target in front of the distance sensor using the \"Node-RED\" Dashboard and perform various tests to validate the correct operation of the ``FB_O300_DL`` Function Block.\n\n<br>\n\n# Conclusion\nFunction Blocks (FBs) provide **abstraction** and **modularity** that simplify the management of complex systems, make programs more readable and maintainable, and enable optimized reuse.\n\n",
        "className": "",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c27cf164a5064eb4",
        "type": "ctrlx-datalayer-subscribe",
        "z": "2c31763846faff4a",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "5c7cf1a654210fbf",
                "8cafa78380a32c91"
            ]
        ]
    },
    {
        "id": "8cafa78380a32c91",
        "type": "debug",
        "z": "2c31763846faff4a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d1d940b648c9a3c",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarms/0",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "72faa985eb343a7a"
            ]
        ]
    },
    {
        "id": "72faa985eb343a7a",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "7d8adc78da567ef2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 0 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "d932b6b0e1482790",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarms/1",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "22d5c664bb95af09"
            ]
        ]
    },
    {
        "id": "22d5c664bb95af09",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "7d8adc78da567ef2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 1 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "c66ac2aa83086a26",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarms/2",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "8c68609d6b8e15ca"
            ]
        ]
    },
    {
        "id": "8c68609d6b8e15ca",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "7d8adc78da567ef2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 2 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "07e6ff64f1b54d48",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarms/3",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "85a38a11770a4956"
            ]
        ]
    },
    {
        "id": "85a38a11770a4956",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "7d8adc78da567ef2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 3 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "782e5e4dbd47467e",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarms/4",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "fd9550d49827334f"
            ]
        ]
    },
    {
        "id": "fd9550d49827334f",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "7d8adc78da567ef2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm 4 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "60b9c44354f22972",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarmsHistory/0",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "cf74e3a714686e8e"
            ]
        ]
    },
    {
        "id": "cf74e3a714686e8e",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "5794c6df8ea5c237",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm History 0 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "e5e07e7eee393bd5",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarmsHistory/1",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "b82ecd6f11e0b2c6"
            ]
        ]
    },
    {
        "id": "b82ecd6f11e0b2c6",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "5794c6df8ea5c237",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm History 1 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "7668aa0117404802",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarmsHistory/2",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "d8fcbe890110b1c9"
            ]
        ]
    },
    {
        "id": "d8fcbe890110b1c9",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "5794c6df8ea5c237",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm History 2 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e74e70692697fe6",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarmsHistory/3",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "a5347a4462933a0f"
            ]
        ]
    },
    {
        "id": "a5347a4462933a0f",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "5794c6df8ea5c237",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm History 3 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 620,
        "y": 600,
        "wires": []
    },
    {
        "id": "f2426ddc9df8cabd",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListAlarmsHistory/4",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 660,
        "wires": [
            [
                "6837a014b4382d39"
            ]
        ]
    },
    {
        "id": "6837a014b4382d39",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "5794c6df8ea5c237",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm History 4 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "11a32f02df3f37ef",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListWarnings/0",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 740,
        "wires": [
            [
                "ceaf9bf90861414e"
            ]
        ]
    },
    {
        "id": "ceaf9bf90861414e",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "3d6ba5b3b7bc8bec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Warning 0 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "e5aa71db054a4ee0",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListWarnings/1",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 800,
        "wires": [
            [
                "67189cdd9efeb461"
            ]
        ]
    },
    {
        "id": "67189cdd9efeb461",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "3d6ba5b3b7bc8bec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Warning 1 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "20c7a94e727603b1",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListWarnings/2",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 860,
        "wires": [
            [
                "979e8fa8bdeb2a8c"
            ]
        ]
    },
    {
        "id": "979e8fa8bdeb2a8c",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "3d6ba5b3b7bc8bec",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Warning 2 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "0928d15373108a70",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListWarnings/3",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 920,
        "wires": [
            [
                "c57573cadf1bf7af"
            ]
        ]
    },
    {
        "id": "c57573cadf1bf7af",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "3d6ba5b3b7bc8bec",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Warning 3 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "60731a966f3bfcfb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "be674fbaa829df8f",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/arListWarnings/4",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 980,
        "wires": [
            [
                "de6d3eb05ec33c37"
            ]
        ]
    },
    {
        "id": "de6d3eb05ec33c37",
        "type": "ui-text",
        "z": "be674fbaa829df8f",
        "group": "3d6ba5b3b7bc8bec",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Warning 4 : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "82fae2f45a487614",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Alarm Abort",
        "group": "e1f3bcea95b360ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 100,
        "wires": [
            [
                "76a26758f69f5fbc"
            ]
        ]
    },
    {
        "id": "89bba963dac6cea8",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_0",
        "payloadFormat": "value_type",
        "name": "Abort",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "caf85ad5a27d3c4a",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Alarm Stop",
        "group": "e1f3bcea95b360ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 160,
        "wires": [
            [
                "9b594bcd0bc97df9"
            ]
        ]
    },
    {
        "id": "685aa59983a93463",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_1",
        "payloadFormat": "value_type",
        "name": "Stop",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1190,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d25948369892b12f",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Alarm Hold",
        "group": "e1f3bcea95b360ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 830,
        "y": 220,
        "wires": [
            [
                "d4d9ddda40431e5d"
            ]
        ]
    },
    {
        "id": "266c52550afbda9f",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_2",
        "payloadFormat": "value_type",
        "name": "Hold",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "de8e0e4e4830df33",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Warning 1",
        "group": "e1f3bcea95b360ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 300,
        "wires": [
            [
                "13f5df24fc5be372"
            ]
        ]
    },
    {
        "id": "3056be44f9e20331",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_0",
        "payloadFormat": "value_type",
        "name": "Set Warning 1",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1220,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e9e952f26c9f0c7c",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Warning 2",
        "group": "e1f3bcea95b360ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "6a3d77fb84af3375"
            ]
        ]
    },
    {
        "id": "442636fd0c6b9a32",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_1",
        "payloadFormat": "value_type",
        "name": "Set Warning 2",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ac0ed004466810",
        "type": "ui-switch",
        "z": "be674fbaa829df8f",
        "name": "",
        "label": "Warning 3",
        "group": "e1f3bcea95b360ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "efb3b75f1d0463bc"
            ]
        ]
    },
    {
        "id": "19ad56ca9ff77f64",
        "type": "ctrlx-datalayer-request",
        "z": "be674fbaa829df8f",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_2",
        "payloadFormat": "value_type",
        "name": "Set Warning 3",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 1220,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "76a26758f69f5fbc",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "89bba963dac6cea8"
            ]
        ]
    },
    {
        "id": "9b594bcd0bc97df9",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "685aa59983a93463"
            ]
        ]
    },
    {
        "id": "d4d9ddda40431e5d",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "266c52550afbda9f"
            ]
        ]
    },
    {
        "id": "13f5df24fc5be372",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 300,
        "wires": [
            [
                "3056be44f9e20331"
            ]
        ]
    },
    {
        "id": "6a3d77fb84af3375",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 360,
        "wires": [
            [
                "442636fd0c6b9a32"
            ]
        ]
    },
    {
        "id": "efb3b75f1d0463bc",
        "type": "function",
        "z": "be674fbaa829df8f",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "19ad56ca9ff77f64"
            ]
        ]
    }
]