plc_dev_do_not_use_this/flows_Flow_1.json
[
    {
        "id": "afa4d76828e7ec20",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3219b531eebe7995",
        "type": "group",
        "z": "afa4d76828e7ec20",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dc43571a28addd49",
            "1bd2448d56957854",
            "7e667cc1f87339f7",
            "dc8e1dbb5dc14569",
            "ece5a4600bbb9404",
            "d7b31716f55a76b4",
            "3597ca961cb7294a",
            "7c4add1475e5b510"
        ],
        "x": 14,
        "y": 959,
        "w": 732,
        "h": 382
    },
    {
        "id": "8d8e5edb1fcde3e5",
        "type": "group",
        "z": "afa4d76828e7ec20",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "72fcdbb7a9a91166",
            "d89a045c49a1c470",
            "23b0b6f39e74865d",
            "633f4f4a2ba75606",
            "213cd887886acbdf",
            "8432bb58a3a5d44c",
            "e699c92cf7007f05",
            "19b52ada916192fc",
            "b0acae7a4b15c190",
            "afbd167f1aaa8e71",
            "396b63987abe9cf0",
            "f72c0fe0956cbca3"
        ],
        "x": 14,
        "y": 1419,
        "w": 992,
        "h": 322
    },
    {
        "id": "1847fb7b8eab0b48",
        "type": "ui-slider",
        "z": "afa4d76828e7ec20",
        "group": "ec9fe99667478156",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f3ef2593fd7ef6f2"
            ]
        ]
    },
    {
        "id": "f3ef2593fd7ef6f2",
        "type": "ui-gauge",
        "z": "afa4d76828e7ec20",
        "name": "",
        "group": "ec9fe99667478156",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "f86f64dc3240498a",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "2f6f5ba523f1b7c6",
                "f3ef2593fd7ef6f2"
            ]
        ]
    },
    {
        "id": "2f6f5ba523f1b7c6",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "dfb00e9a61e443be",
        "type": "ui-text",
        "z": "afa4d76828e7ec20",
        "group": "ec9fe99667478156",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "b133403e585d3495",
        "type": "ads-client-subscribe",
        "z": "afa4d76828e7ec20",
        "name": "Status P-3",
        "connection": "54a88376c6c89cf0",
        "variableName": "PackTag.Status.Parameter_Dint[2].Value",
        "cycleTime": 200,
        "mode": "onchange",
        "initialDelay": 0,
        "retryInterval": 2000,
        "controlSubscription": false,
        "resubscribeTimeout": 2000,
        "inputs": 0,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "dfb00e9a61e443be"
            ]
        ]
    },
    {
        "id": "679952c8f92cf517",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "9343e363ecc03181"
            ]
        ]
    },
    {
        "id": "59e5f7a21cbc9bad",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8e4f9dfc2d5ff186"
            ]
        ]
    },
    {
        "id": "e62afcf89f3b26e9",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "2024a90f286858ca",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "75139d3596ded14e"
            ]
        ]
    },
    {
        "id": "75139d3596ded14e",
        "type": "change",
        "z": "afa4d76828e7ec20",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Corner_1",
                "pt": "global",
                "to": "33",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "015d0493649efe4d"
            ]
        ]
    },
    {
        "id": "015d0493649efe4d",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 860,
        "wires": []
    },
    {
        "id": "bf84d4563205594d",
        "type": "change",
        "z": "afa4d76828e7ec20",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Corner_2",
                "pt": "global",
                "to": "44",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 860,
        "wires": [
            [
                "015d0493649efe4d"
            ]
        ]
    },
    {
        "id": "61efc84eeb7f5370",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "bf84d4563205594d"
            ]
        ]
    },
    {
        "id": "9343e363ecc03181",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "function 1",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "e62afcf89f3b26e9"
            ]
        ]
    },
    {
        "id": "8e4f9dfc2d5ff186",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "function 2",
        "func": "// Create Pack Parameter\nmsg.payload = {\n    ID: 1101,\n    Name: \"Axis X Acceleration\",\n    Unit: \"m/s2\",\n    Value: 9.81\n};\n\n// Return the new payload of message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 520,
        "wires": [
            [
                "e62afcf89f3b26e9"
            ]
        ]
    },
    {
        "id": "9bb643db6c63e6d8",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "136978fb71122222"
            ]
        ]
    },
    {
        "id": "136978fb71122222",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "Set Global",
        "func": "var newMsg = { payload: global.get('Corner_1') };\nglobal.set('Corner_1', newMsg.payload + 2);\n\n// Here the message returns the input msg.\nreturn [msg , newMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 920,
        "wires": [
            [
                "015d0493649efe4d"
            ],
            [
                "5d185a73623368df"
            ]
        ]
    },
    {
        "id": "af853149d10d9ac1",
        "type": "file",
        "z": "afa4d76828e7ec20",
        "name": "Log Change",
        "filename": "C:/Temp/LogChange.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0ad74284ddb3a4b8",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "Add Date",
        "func": "var myPosition = flow.get('Corner_1');\nflow.set('Corner_1', myPosition + 1);\n\nvar thisDate = Date();\nvar idGMT = thisDate.indexOf(\"GMT\");\nvar LogDate = thisDate.slice(0, idGMT - 1);\n\nmsg.payload = LogDate.concat(\": \", myPosition);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "af853149d10d9ac1",
                "3745a1b0e1efaed2"
            ]
        ]
    },
    {
        "id": "3734b0870314ce5b",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "0ad74284ddb3a4b8"
            ]
        ]
    },
    {
        "id": "3745a1b0e1efaed2",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "5d185a73623368df",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 920,
        "wires": []
    },
    {
        "id": "dc43571a28addd49",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "Write Json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1bd2448d56957854",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "Command to Context",
        "func": "var NewMsg = [];\nNewMsg[0] = global.get('Corner_1');\nNewMsg[1] = global.get('Corner_2');\n\nmsg.payload = NewMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "dc43571a28addd49",
                "dc8e1dbb5dc14569"
            ]
        ]
    },
    {
        "id": "7e667cc1f87339f7",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "1bd2448d56957854"
            ]
        ]
    },
    {
        "id": "dc8e1dbb5dc14569",
        "type": "file",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 620,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ece5a4600bbb9404",
        "type": "comment",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "Backup Commands MUST be in THIS flow",
        "info": "",
        "x": 200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d7b31716f55a76b4",
        "type": "ui-button",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "group": "ec9fe99667478156",
        "name": "Backup",
        "label": "Backup",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "content-save-move-outline",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "1bd2448d56957854"
            ]
        ]
    },
    {
        "id": "3597ca961cb7294a",
        "type": "ui-text-input",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "group": "ec9fe99667478156",
        "name": "",
        "label": "Backup file name in C:/Temp/ (without extension)",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 280,
        "y": 1300,
        "wires": [
            [
                "7c4add1475e5b510"
            ]
        ]
    },
    {
        "id": "7c4add1475e5b510",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "g": "3219b531eebe7995",
        "name": "Build file name",
        "func": "var newMsg = msg;\nvar filePath = \"C:/Temp/\";\n\n// BackupCommands.json\nfilePath = filePath.concat(msg.payload,\".json\");\nnewMsg.filename = filePath;\n\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "d7b31716f55a76b4"
            ]
        ]
    },
    {
        "id": "72fcdbb7a9a91166",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "Multiple Messages",
        "func": "// FC-1\nvar msg_0 = { payload: msg.payload.length };\n// msg_0.payload = msg.payload[0].Value;\n// msg_0.topic = 'PackTag.Command.Parameter_Dint[3].Value';\n// node.send(msg_0);\n\n\n// return [msg_1, msg_2] ;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1620,
        "wires": [
            [
                "e699c92cf7007f05",
                "19b52ada916192fc"
            ]
        ]
    },
    {
        "id": "d89a045c49a1c470",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1520,
        "wires": [
            [
                "633f4f4a2ba75606"
            ]
        ]
    },
    {
        "id": "23b0b6f39e74865d",
        "type": "ui-button",
        "z": "afa4d76828e7ec20",
        "d": true,
        "g": "8d8e5edb1fcde3e5",
        "group": "31dbb59662d15705",
        "name": "Restore",
        "label": "Restore",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup-restore",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "x": 140,
        "y": 1580,
        "wires": [
            [
                "633f4f4a2ba75606"
            ]
        ]
    },
    {
        "id": "633f4f4a2ba75606",
        "type": "file in",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 1480,
        "wires": [
            [
                "8432bb58a3a5d44c",
                "213cd887886acbdf"
            ]
        ]
    },
    {
        "id": "213cd887886acbdf",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "Read Bckp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "8432bb58a3a5d44c",
        "type": "json",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "72fcdbb7a9a91166"
            ]
        ]
    },
    {
        "id": "e699c92cf7007f05",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "Check Flow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1640,
        "wires": []
    },
    {
        "id": "19b52ada916192fc",
        "type": "ads-client-write-symbol",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "Set Flow",
        "connection": "54a88376c6c89cf0",
        "variableName": "",
        "autoFill": true,
        "x": 880,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "b0acae7a4b15c190",
        "type": "comment",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "Restore Cmd Values From File MUST be in THIS flow",
        "info": "",
        "x": 250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "afbd167f1aaa8e71",
        "type": "ui-file-input",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "group": "31dbb59662d15705",
        "name": "Get Backup file",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "Select File to restore in C:/Temp/",
        "icon": "backup-restore",
        "allowMultiple": false,
        "accept": ".json",
        "className": "",
        "x": 120,
        "y": 1680,
        "wires": [
            [
                "f72c0fe0956cbca3"
            ]
        ]
    },
    {
        "id": "396b63987abe9cf0",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "For path",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f72c0fe0956cbca3",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "g": "8d8e5edb1fcde3e5",
        "name": "build path",
        "func": "let basePath = \"C:/Temp/\";\n\n// msg.filename = msg.file.name;\n\n// msg.filename = basePath.concat(msg.file.name);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1620,
        "wires": [
            [
                "633f4f4a2ba75606",
                "396b63987abe9cf0"
            ]
        ]
    },
    {
        "id": "8c1d2803f6ccc5a6",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "Command to Context",
        "func": "var NewMsg = [];\nNewMsg[0] = global.get('Corner_1');\nNewMsg[1] = global.get('Corner_2');\n\nmsg.payload = NewMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 352.0333251953125,
        "y": 578.816650390625,
        "wires": [
            [
                "af853149d10d9ac1"
            ]
        ]
    },
    {
        "id": "8b771e47cb273987",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "8c1d2803f6ccc5a6"
            ]
        ]
    },
    {
        "id": "0eff9c4ad6a6763c",
        "type": "file in",
        "z": "afa4d76828e7ec20",
        "name": "",
        "filename": "C:/Temp/Truc.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 1820,
        "wires": [
            [
                "4c51110c25db0bc2"
            ]
        ]
    },
    {
        "id": "4c51110c25db0bc2",
        "type": "json",
        "z": "afa4d76828e7ec20",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1820,
        "wires": [
            [
                "2a6237fa4d0164da"
            ]
        ]
    },
    {
        "id": "2a6237fa4d0164da",
        "type": "function",
        "z": "afa4d76828e7ec20",
        "name": "Multiple Messages",
        "func": "var msg_1 = { payload: msg.payload.length };\nmsg_1.payload = msg.payload[0];\n\nvar msg_2 = { payload: msg.payload.length };\nmsg_2.payload = msg.payload[1];\n\nreturn [msg_1, msg_2] ;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1920,
        "wires": [
            [
                "ba3fa56bc5f92b8e"
            ],
            [
                "24d46146560a9487"
            ]
        ]
    },
    {
        "id": "0c521552a0e55957",
        "type": "inject",
        "z": "afa4d76828e7ec20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1820,
        "wires": [
            [
                "0eff9c4ad6a6763c"
            ]
        ]
    },
    {
        "id": "ba3fa56bc5f92b8e",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "msg 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1860,
        "wires": []
    },
    {
        "id": "24d46146560a9487",
        "type": "debug",
        "z": "afa4d76828e7ec20",
        "name": "msg 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1920,
        "wires": []
    },
    {
        "id": "ec9fe99667478156",
        "type": "ui-group",
        "name": "Flow 1",
        "page": "6dc8968a885310c8",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "54a88376c6c89cf0",
        "type": "ads-client-connection",
        "name": "",
        "targetAmsNetId": "localhost",
        "targetAdsPort": "851",
        "objectifyEnumerations": true,
        "convertDatesToJavascript": true,
        "readAndCacheSymbols": false,
        "readAndCacheDataTypes": false,
        "disableSymbolVersionMonitoring": false,
        "routerTcpPort": "",
        "routerAddress": "",
        "localAddress": "",
        "localTcpPort": "",
        "localAmsNetId": "",
        "localAdsPort": "",
        "timeoutDelay": "",
        "hideConsoleWarnings": false,
        "autoReconnect": true,
        "reconnectInterval": "",
        "checkStateInterval": "",
        "connectionDownDelay": "",
        "allowHalfOpen": false,
        "disableBigInt": false,
        "debuggingLevel": "",
        "bareClient": false
    },
    {
        "id": "31dbb59662d15705",
        "type": "ui-group",
        "name": "Backup / Restore Command parameters",
        "page": "5dd55e12a3872cb0",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6dc8968a885310c8",
        "type": "ui-page",
        "name": "Flow 1",
        "ui": "c2c518e5e02da005",
        "path": "/page8",
        "icon": "school",
        "layout": "grid",
        "theme": "79b3a1de28284e3f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5dd55e12a3872cb0",
        "type": "ui-page",
        "name": "HEVS Pack",
        "ui": "c2c518e5e02da005",
        "path": "/pack",
        "icon": "home",
        "layout": "grid",
        "theme": "79b3a1de28284e3f",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2c518e5e02da005",
        "type": "ui-base",
        "name": "UI Pack",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon",
        "titleBarStyle": "fixed"
    },
    {
        "id": "79b3a1de28284e3f",
        "type": "ui-theme",
        "name": "Theme Pack",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]